 <% @garden.each do |garden| %> 

    <h1><%= "flower name" %></h1>
    <div class="remove">
        <a class="link-edit" href="/garden/<%= garden['id'] %>/edit">Edit garden</a>

        <form class="form" action="/garden/<%= garden['id']%>" method="post">
            <input type="hidden" name="_method" value="delete">
            <button class="link-btn">Delete garden</button>
        </form>
    </div>

        
    <div class="garden">
        <div>
            <div class="image">
                <img class="garden-img" src="<%= garden['image_url'] %>" alt="">
            </div>
            <h3><span class="title">sunlight: </span><%= garden['sunlight'] %></h3>
            <h3><span class="title">fertilizer: </span><%= garden['fertilizer'] %></h3>
            <h3><span class="title">moisture: </span><%= garden['moisture'] %></h3>
            <h3><span class="title">Comments: </span><%= garden['comments'] %></h3>
        </div>
    </div>
<% end %>
