 <% @garden.each do |garden| %> 

    <h1><%= "Flower Care Tips" %></h1>
    <div class="remove">
        <a class="edit" href="/garden/<%= garden['id'] %>/edit">Edit</a>

        <form class="form" action="/garden/<%= garden['id']%>" method="post">
            <input type="hidden" name="_method" value="delete">
            <button class="del-btn">Delete</button>
        </form>
    </div>

        
    <div class="garden">
        <div>
            <div class="image">
                <img class="garden-img" src="<%= garden['image_url'] %>" alt="">
            </div>
            <h3><span class="title">Sunlight: </span><%= garden['sunlight'] %></h3>
            <h3><span class="title">Fertilizer: </span><%= garden['fertilizer'] %></h3>
            <h3><span class="title">Moisture: </span><%= garden['moisture'] %></h3>
            <h3><span class="title">Comments: </span><%= garden['comments'] %></h3>
        </div>
    </div>
<% end %>
